*.[oa]
*~
.*.d
*test
*.t
*.so
*.so.*
*.moc
*.libs
*.pc
aclocal.m4
autom4te.cache
config.mk
config.log
config.status
configure
printcert
gnulib/Makefile
gnulib/getopt.h
include/wvautoconf.h
include/wvautoconf.h.in
reconfigure
uniconf/daemon/uniconfd
uniconf/tests/uni
